body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 256px;
    height: 256px;
}

.square {
    box-sizing: border-box;
    border: 1px solid black;
    flex-basis: 6.25%;
}